<div class="container ">
    <div *ngIf="apiError.error; then errorDisplay else reposDisplay">
    </div>
    <!--Repos table display-->
    <ng-template #reposDisplay>
      <div *ngIf="repositories?.length > 0; else emptyRepos">
        <div class="candidates-table container-fluid">
          <div class="row d-none d-lg-row border py-2 px-3">
            <div class="col-xl-2">Candidate name</div>
            <div class="col-xl-1">GitHub username</div>
            <div class="col-xl-1">Repository name</div>
            <div class="col-xl-1">DevCase type</div>
            <div class="col-xl-1">Recruiter</div>
            <div class="col-xl-2">Reviewer</div>
            <div class="col-xl-1">Deadline</div>
            <div class="col-xl-1">Modified date</div>
            <div class="col-xl-1">Status</div>
            <div class="col-xl-1">Action</div>
          </div>
          <div *ngFor="let repo of repositories;" class="row border border-top-0">
            <div class="candidate col-xl-2 py-2 px-3"><strong class="d-xl-none">Candidate name:<br/></strong>{{repo.candidate.name | capitalize}}</div>
            <div class="candidate col-xl-1 py-2 px-3">
              <strong class="d-xl-none">GitHub username:<br/></strong>
              <span>
                <img src="../../../assets/img/github_logo_32.png" width="18"/>
              </span>
              <a href="https://github.com/{{repo.candidate.github_account}}" target="_blank">{{repo.candidate.github_account}}</a>
            </div>
            <div class="candidate col-xl-1 py-2 px-3">
              <strong class="d-xl-none">Repository name:<br/></strong>
              <a href="https://github.com/Sytac/{{repo.case_type}}-{{repo.candidate.github_account}}" target="_blank">{{repo.case_type}}-{{repo.candidate.github_account}}</a>
            </div>
            <div class="candidate col-xl-1 py-2 px-3"><strong class="d-xl-none">DevCase type:<br/></strong>{{repo.case_type | capitalize}}</div>
            <div class="staff col-xl-1 py-2 px-3">
              <strong class="d-xl-none">Recruiter:<br/></strong>
              <a href="mailto:{{repo.recruiter.account}}" target="_blank">{{repo.recruiter.name}}</a>
            </div>
            <div class="staff col-xl-2 py-2 px-3">
              <strong class="d-xl-none align-top">Reviewer:<br/></strong>
              <ul>
                <li *ngFor="let reviewer of repo.reviewers">
                  <a href="mailto:{{reviewer.account}}" target="_blank">{{reviewer.name}}</a>
                </li>
              </ul>
            </div>
            <div class="staff col-xl-1 py-2 px-3"><strong class="d-xl-none">Deadline:<br/></strong>{{repo.deadline}}</div>
            <div class="staff col-xl-1 py-2 px-3"><strong class="d-xl-none">Modified date:<br/></strong>{{repo.modify_date}}</div>
            <div class="dev-case-status col-xl-1 py-2 px-3"><strong class="d-xl-none">Status:<br/></strong>{{repo.status}}</div>
            <div class="dev-case-action col-xl-1 py-2 px-3">
              <strong class="d-xl-none">Action:<br/></strong>
              <button href="#" class="btn btn-sm sytac-btn--orange">Review</button>
              <!--<a href="#" class="btn btn-sm sytac-btn&#45;&#45;orange">Available</a>-->
              <!--<a href="#" class="btn btn-sm sytac-btn&#45;&#45;orange disabled">Reviewing...</a>-->
              <!--<a href="#" class="btn btn-sm sytac-btn&#45;&#45;orange">Reviewed</a>-->
              <!--<a href="#" class="btn btn-sm sytac-btn&#45;&#45;orange">Archived</a>-->
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <!--Empty repos message-->
    <ng-template #emptyRepos>
      <div class="container">
        <h4 class="card-title">No data available
        </h4>
        <div class="card-block h-100">
          <p>We didn't find any available data! We are sorry...</p>
          <p>Please try again, if the error persists contact technical support at
            <a
              href="mailto:riccardo.polacci@sytac.io?subject=API call empty data">riccardo.polacci@sytac.io</a>
          </p>
        </div>
      </div>
    </ng-template>
    <!--Error message-->
    <ng-template #errorDisplay>
      <div class="container">
        <h4 class="card-title">{{apiError.msg}}
        </h4>
        <div class="card-block h-100">
          <p>An error occurred while trying to retrieve the data! We are sorry...</p>
          <p>Please try again, if the error persists contact technical support at
            <a
              href="mailto:riccardo.polacci@sytac.io?subject=API call error">riccardo.polacci@sytac.io</a>
          </p>
        </div>
      </div>
    </ng-template>
</div>
