<div class="container mt-5">
  <div class="row">
    <div *ngIf="apiError.error; then errorDisplay else reposDisplay">
    </div>
    <!--Repos table display-->
    <ng-template #reposDisplay>
      <div class="col-md-12" *ngIf="repositories?.length > 0; else emptyRepos">
        <table class="table table-bordered table-striped table-responsive">
          <thead>
          <tr>
            <th>Candidate name</th>
            <th>GitHub username</th>
            <th>Repository name</th>
            <th>DevCase type</th>
            <th>Recruiter</th>
            <th>Reviewer</th>
            <th>Deadline</th>
            <th>Modified date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let repo of repositories">
            <td>{{repo.candidate.name | capitalize}}</td>
            <td>
              <span>
                <img src="../../../assets/img/github_logo_32.png" width="18"/>
              </span>
              <a href="https://github.com/{{repo.candidate.github_account}}" target="_blank">{{repo.candidate.github_account}}</a>
            </td>
            <td>
              <a href="https://github.com/Sytac/{{repo.case_type}}-{{repo.candidate.github_account}}" target="_blank">{{repo.case_type}}-{{repo.candidate.github_account}}</a>
            </td>
            <td>{{repo.case_type | capitalize}}</td>
            <td>
              <a href="mailto:{{repo.recruiter.account}}" target="_blank">{{repo.recruiter.name}}</a>
            </td>
            <td>
              <ul>
                <li *ngFor="let reviewer of repo.reviewers">
                  <a href="mailto:{{reviewer.account}}" target="_blank">{{reviewer.name}}</a>
                </li>
              </ul>
            </td>
            <td>{{repo.deadline}}</td>
            <td>{{repo.modify_date}}</td>
            <td>{{repo.status}}</td>
            <td>
              <a href="#" class="btn btn-sm sytac-btn--orange">Review</a>
              <!--<a href="#" class="btn btn-sm sytac-btn&#45;&#45;orange">Available</a>-->
              <!--<a href="#" class="btn btn-sm sytac-btn&#45;&#45;orange disabled">Reviewing...</a>-->
              <!--<a href="#" class="btn btn-sm sytac-btn&#45;&#45;orange">Reviewed</a>-->
              <!--<a href="#" class="btn btn-sm sytac-btn&#45;&#45;orange">Archived</a>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
    <!--Empty repos message-->
    <ng-template #emptyRepos>
      <div class="container">
        <h4 class="card-title">No data available
        </h4>
        <div class="card-block h-100">
          <p>We didn't find any available data! We are sorry...</p>
          <p>Please try again, if the error persists contact technical support at
            <a
              href="mailto:riccardo.polacci@sytac.io?subject=API call empty data">riccardo.polacci@sytac.io</a>
          </p>
        </div>
      </div>
    </ng-template>
    <!--Error message-->
    <ng-template #errorDisplay>
      <div class="container">
        <h4 class="card-title">{{apiError.msg}}
        </h4>
        <div class="card-block h-100">
          <p>An error occurred while trying to retrieve the data! We are sorry...</p>
          <p>Please try again, if the error persists contact technical support at
            <a
              href="mailto:riccardo.polacci@sytac.io?subject=API call error">riccardo.polacci@sytac.io</a>
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
